__pycache__/
*.py[cod]
*.log
*.Zone.Identifier
hf_cache/**
!hf_cache/
!hf_cache/**/
venv_rag/**
!venv_rag/
!venv_rag/**/
venv_train/**
!venv_train/
!venv_train/**/
train/**
!train/
!train/**/
output/**
!output/
!output/**/
logs/**
!logs/
!logs/**/
models/**
!models/
!models/**/
index/*.faiss
*.safetensors
.DS_Store

# Allow placeholder readmes in the cached dirs
!hf_cache/**/README.md
!venv_rag/**/README.md
!venv_train/**/README.md
!train/**/README.md
!logs/**/README.md
!output/**/README.md
!models/**/README.md
!prepared/**/README.md
